@import "vars";
@import "global";
@import "fonts";

.header__box {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {}

.menu {}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;

    li+li {
        margin-left: 26px;
    }

    a {
        color: $red;
    }
}

///////////////////
.profil {
    position: relative;
    min-height: 816px;
}

.profil__img {
    position: relative;
    margin-right: 285px;
}

.profil__img-trap {
    // width: 1147px;
    // height: 816px;
    position: absolute;
    z-index: 0;
    // //@warn
    // // top:0;
    top: 0;
    left: 50%;
    // // right: 0;
    // /////
    // top: 50%;
    // right: 430px;//
    margin: 0px 0 0 -90px;
    // // margin: 0 -225px -72px 0 ;
    // background-image: url(../images/purpurFon.png);
    // background-repeat: no-repeat;
    // overflow: hidden;
}

.profil__img-woman {
    width: 753px;
    height: 753px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 63px;
    background-image: url(../images/woman.png);
    background-repeat: no-repeat;
    // padding: 20px 50px 0 0;
}

.profil__info {
    display: flex;
    flex-direction: column;
    min-height: 816px;
    position: relative;
    z-index: 1;

    &-item+&-item {
        padding-top: 30px;
    }
}

.profil__info-inner {
    flex: 1 0 auto;
    max-width: 420px;
    padding-top: 20px;
    padding-left: 190px;
}

.profil__info-title {
    font-family: Cyrvetica v2 Extra Outline;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.profil__info-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    // max-width: 100%;
}

.profil__info-socia {
    flex: 0 0 auto;
    margin-bottom: 25px;
}

.profil__info-instagram {
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/inst.png);
    background-repeat: no-repeat;
}

.profil__info-facebook {
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/facebook.png);
    background-repeat: no-repeat;
}

///////////

.aboutMe {
    // 
}

.aboutMe__container {
    padding: 70px 0 151px 160px;
}

.aboutMe__container-info {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.aboutMe__container-title {
    display: block;
    margin-left: 20px;
    margin-bottom: 48px;
    font-family: Cyrvetica v2 Extra Outline;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */

    text-transform: uppercase;

    color: #E51A4B;
}

.aboutMe__container-text {
    width: 50%;
    position: relative;

}

.aboutMe__container-paragraf {
    position: absolute;
    width: 475px;
    height: 260px;
    padding: 30px;
    background: #E51A4B;
    box-shadow: -3px 3px 10px rgba(81, 21, 35, 0.12);

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
}

.aboutMe__container-paragraf + .aboutMe__container-paragraf {
    top: 245px;
    background: #FFFFFF;
    box-shadow: -3px 3px 10px rgba(81, 21, 35, 0.12);
    margin-left: 30px;

    p {
        color: #C27676;
    }
}

.aboutMe__container-img {
    width: 50%;
}

.aboutMe__container-inner {
    display: flex;
    flex-direction: column;

}

.aboutMe__container-item {
    margin-left: auto;

    img {
        display: block;
    }
}

.aboutMe__container-item+.aboutMe__container-item {
    margin-top: 10px;
}
.aboutMe__container-M{
    position: absolute;
    left: 460px;
    top: 79px;

}
@import "media";